fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
httpx
streamlit
requests
pandas
reportlab
pytesseract
pdf2image
pypdf
Pillow
python-dateutil
pytest
pytest-cov
pillow-heif
opencv-python-headless
libXext
numpy